In [ ]:
'''
Q-1>What are data structures, and why are they important?
Sol:Python provides built-in support for several data structures, making it easy to organize and manipulate data efficiently.
Properties :-
Efficiency – Helps optimize the performance of algorithms by providing efficient ways to store and retrieve data.
Better Data Management – Organizes data in a way that makes it easier to use and process.
Scalability – Enables handling large amounts of data.
Reusability – Many data structures can be reused in different applications.
Enhancing Algorithm Performance – Choosing the right data structure can significantly impact the speed and efficiency of an algorithm.
Types:
Built-in Data Structures
1.Lists 
A list is an ordered, mutable collection of elements. It allows duplicates and supports different data types.
Example:

list1 = [1, 2, 3, "Sumit", 3.5]
print(list1[0])  
list1.append(44)  
list1.remove(3.5)  
print(my_list[1:3])  

B. Tuples 
A tuple is an immutable, ordered collection of elements. It is faster than a list and is often used when data should not change.


tuple1 = (1, 2, 3, "hello",5.5)
print(my_tuple[1])  
my_tuple[1] = 10  # !!!error it will show

C. Sets 

A set is an unordered collection of unique elements.

set1 = {1, 2, 3, 4, 4, 5}  
set1.add(6)
set1.discard(3)
print(set1)  

D. Dictionaries 
A dictionary is an unordered collection of key-value pairs.

dict1 = {"name": "Sam", "age": 25, "city": "Itly"}
print(dict1["name"])  
my_dict["job"] = "Engineer"
del my_dict["age"]
print(my_dict)  

2. User-Defined Data Structures

Python also allows the creation of custom data structures.

A. Stacks (LIFO - Last In, First Out)
A stack follows the Last In, First Out (LIFO) principle. We can use a list or the collections.deque module.
class Stack:
    def __init__(self):
        self.stack = []
    
    def push(self, item):
        self.stack.append(item)
    
    def pop(self):
        if not self.is_empty():
            return self.stack.pop()
        return "Stack is empty"
    
    def peek(self):
        return self.stack[-1] if not self.is_empty() else "Stack is empty"
    
    def is_empty(self):
        return len(self.stack) == 0

s = Stack()
s.push(10)
s.push(20)
print(s.pop())  

B. Queues (FIFO - First In, First Out)
A queue follows the First In, First Out (FIFO) principle. We can use collections.deque for efficient queue operations.

from collections import deque

class Queue:
    def __init__(self):
        self.queue = deque()
    
    def enqueue(self, item):
        self.queue.append(item)
    
    def dequeue(self):
        if not self.is_empty():
            return self.queue.popleft()
        return "Queue is empty"
    
    def is_empty(self):
        return len(self.queue) == 0


q = Queue()
q.enqueue(1)
q.enqueue(2)
print(q.dequeue())  # Output: 1

C. Linked List
A linked list consists of nodes where each node contains data and a pointer to the next node.

class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        self.head = None

    def append(self, data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node
            return
        temp = self.head
        while temp.next:
            temp = temp.next
        temp.next = new_node

    def display(self):
        temp = self.head
        while temp:
            print(temp.data, end=" -> ")
            temp = temp.next
        print("None")
ll = LinkedList()
ll.append(10)
ll.append(20)
ll.append(30)
ll.display()  

D. Binary Tree
A binary tree is a hierarchical structure where each node has at most two children (left and right).

class TreeNode:
    def __init__(self, value):
        self.value = value
        self.left = None
        self.right = None

    def insert(self, value):
        if value < self.value:
            if self.left is None:
                self.left = TreeNode(value)
            else:
                self.left.insert(value)
        else:
            if self.right is None:
                self.right = TreeNode(value)
            else:
                self.right.insert(value)

    def inorder_traversal(self):
        if self.left:
            self.left.inorder_traversal()
        print(self.value, end=" ")
        if self.right:
            self.right.inorder_traversal()

root = TreeNode(10)
root.insert(5)
root.insert(15)
root.insert(2)
root.inorder_traversal()  # Output: 2 5 10 15
'''

In [ ]:
'''
Q-2>Explain the difference between mutable and immutable data types with examples ?
Sol: Mutable objects can be changed.
Immutable objects cannot be changed once they are created
Ex:
List,Dictionary are mutable:
Tuple are immutable.
Thread:
Immutable objects are inherently thread-safe.
Mutable objects can lead to unexpected bugs in multi-threaded programs.


'''

In [3]:
#List
my_list = [1, 2, 3]
print(id(my_list)) 
my_list.append(4)  
print(my_list)   
print(id(my_list))

2777233084416
[1, 2, 3, 4]
2777233084416

In [7]:
#Dictionary
my_dict = {"name": "Sam", "age": 30}
print(id(my_dict))
my_dict["age"] = 26  
print(my_dict)  
print(id(my_dict))

2777272982592
{'name': 'Sam', 'age': 26}
2777272982592

In [ ]:
'''
Immutable Data Types:
Examples:
Integers (int)
Floats (float)
Strings (str)
Tuples (tuple)
Frozen sets (frozenset)
Bytes (bytes)
'''

In [9]:
# Integer 
x = 10
print(id(x))  
x = x + 1 
print(x)  
print(id(x))

140731570268888
11
140731570268920

In [11]:
# String 
s = "hello World"
print(id(s))  
s = s + " I am Python"  
print(s)  
print(id(s))

2777233094896
hello World I am Python
2777233091568

In [13]:
# Tuple 
tup1 = (1, 2, 3, 4, 5)
print(id(tup1))  
tup1 = tup1 + (4, 5)  
print(tup1)  
print(id(tup1))

2777232925344
(1, 2, 3, 4, 5, 4, 5)
2777272575040

In [ ]:
'''
Q-3>What are the main differences between lists and tuples in Python3
sol:-
List :
1.Mutable (can be modified)
2.Created using []
3.Slower due to mutability
4.Uses more memory
5.Slower (due to dynamic size)
6.Can add, remove, or update elements
7.Has methods like .append(), .remove(), .pop()
8.Not hashable

Tuple:
1.Immutable (cannot be modified)
2.Created using ()
3.Faster due to immutability
4.Uses less memory
5.Faster (fixed size)
6.Cannot be changed after creation
7.Methods .count() and .index()
8.Hashable

In [ ]:
'''
Q-4> Describe how dictionaries store data ?
sol:-
Keys (immutable types like strings, numbers, or tuples)
Values (any data type)

Dictionary Performance:

Average Case: O(1) (fast lookups, insertions, deletions)
Worst Case: O(n) (when many collisions occur)

'''

In [15]:
my_dict = {"name": "Dev", "age": 43, "city": "Delhi"}
my_dict

{'name': 'Dev', 'age': 43, 'city': 'Delhi'}

In [17]:
print(hash("name"))

5871160261929396366

In [21]:
d = {}
d[1] = "one"
d[2] = "two"
d

{1: 'one', 2: 'two'}

In [ ]:
'''
Q-5> Why might you use a set instead of a list in Python3?
sol:- A set and a list are both used to store collections of elements.
'''

In [23]:
my_list = [1, 2, 2, 3, 4, 4, 5]
set1 = set(my_list)  
print(set1)

{1, 2, 3, 4, 5}

In [25]:
my_list = [1, 2, 3, 4, 5]
my_set = {1, 2, 3, 4, 5}
print(3 in my_list)  
print(3 in my_set)

True
True

In [27]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1 | set2)  
print(set1 & set2)  
print(set1 - set2)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [ ]:
'''
Q-6> What is a string in Python, and how is it different from a list?
sol:-
String :
1.Immutable
2.Characters
3.Modification is not allowed
4.Can iterate character by character
List :
1.Mutable 
2.Any data type
3.Modification is Allowed
4.Can iterate element by element
'''

In [ ]:
'''
Q-7>How do tuples ensure data integrity in Python?
sol:-
A tuple is an immutable sequence in Python, meaning once it is created, it cannot be modified (no adding, removing, or changing elements). 
This immutability ensures data integrity by preventing unintended modifications.
'''

In [29]:
coordinates = (10.5, 20.3)  
coordinates

(10.5, 20.3)

In [37]:
data = { (40.7143, -74.0360): "Paris",(51.5467, -0.129089): "America"}
print(data[(40.7143, -74.0360)])

Paris

In [35]:
DB_CONFIG = ("localhost", 5432, "admin", "password")
DB_CONFIG

('localhost', 5432, 'admin', 'password')

In [ ]:
'''
Q-8> What is a hash table, and how does it relate to dictionaries in Python?
sol:-A hash table (or hash map) is a data structure that stores key-value pairs and allows fast data retrieval using a hash function. 
It efficiently maps keys to values using an array and hashing technique, ensuring constant-time (O(1)) lookup, insertion, and deletion in most cases.
'''

In [37]:

my_dict = {"name": "Alice", "age": 25, "city": "New York"}
# complexicity is Fast  (O(1)) complexicity
print(my_dict["name"])  
#Insertion (O(1))
my_dict["job"] = "Engineer"
# Deletion (O(1))
del my_dict["age"]

Alice

In [1]:
'''
Q-9> Can lists contain different data types in Python?
sol:-
Yes, in Python, lists can contain different data types.
ex:
'''
list1 = [7, "python", 9.14, True, [1, 2, 3, 4, 5], {"US": "dollar"}, (45, 77)]
print(list1)

[7, 'python', 9.14, True, [1, 2, 3, 4, 5], {'US': 'dollar'}, (45, 77)]

In [5]:
'''
Q-10>Explain why strings are immutable in Python?
sol:-
Its means that once a string is created, it cannot be changed.
Advantages:
1.Memory Efficiency
2.String Interning & Caching
3.Security & Predictability
eg:
'''
s = "Python is a good language "
s[0] = "p"  
# it will raise an error

TypeError: 'str' object does not support item assignment

In [7]:
'''
Q-11> What advantages do dictionaries offer over lists for certain tasks?
sol:-
Dictionaries offer several advantages over lists.
1.Fast Lookups 
2.Key-Based Access
3.Efficient Data Organization
4.Flexibility
5.Easier Data Modification
6.Avoiding Duplicates keys 
ex
'''
Emp = {"name": "Bob", "age": 22, "Dept": "Automation"}
print(Emp["name"])

Bob

In [ ]:
'''
Q-12> Describe a scenario where using a tuple would be preferable over a list?
sol:-
A tuple would be preferable over a list where immutability, performance,data integrity,Hashability are important.
'''

In [9]:
'''
Q-13> How do sets handle duplicate values in Python?
sol:- 
Sets automatically removes duplicate values because they are unordered collections of unique elements.
ex:
'''
Set1 = {1, 2, 3, 3, 4, 4, 5, 6, 7, 6, 8}
print(Set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
#Trying to add a duplicate
set1 = {10, 20, 30}
set1.add(20)  
print(set1)

{10, 20, 30}

In [13]:
'''
Q-14>  How does the “in” keyword work differently for lists and dictionaries?
sol:-
As it is used to check for membership in a collection, but it behaves differently for lists and dictionaries due to their data structures.
in Keyword with Lists
ex:
'''
list1 = [10, 20, 30, 40]
print(20 in list1)  
print(50 in list1)

True
False

In [15]:
'''
in Keyword with Dictionaries:
the 'in' keyword checks if a key exists, not a value.
ex:-
'''
dict1 = {"name": "bob", "age": 25, "city": "Paris"}
print("age" in dict1)  
print("bob" in dict1)

True
False

In [17]:
'''
Q-15> Can you modify the elements of a tuple? Explain why or why not ?
sol:-
No we can't able to modify the elements in tuple because tuples are immutable and that is why we achive some reliblity they are:-
1.Memory Efficiency 
2.Hashability
3.Data Integrity
ex:-
'''
#Trying to modify the elements in tuple which will raise an error
my_tuple = (1, 2, 3)
my_tuple[0] = 22

TypeError: 'tuple' object does not support item assignment

In [19]:
#tuple structure remains unchanged but the list inside the tuple is modified
tuple1 = (1, [2, 3], 4)
tuple1[1].append(5) 
print(tuple1)

(1, [2, 3, 5], 4)

In [23]:
'''
Q-16> What is a nested dictionary, and give an example of its use case?
sol:-
A nested dictionary is a dictionary inside another dictionary.
ex:-
1.Database-like Storage
2.Configuration Settings
3.JSON-like Data Representation 
'''
#Use Case: Storing Employees Records:-
Emp = {
    "2234": {"name": "Jenifer", "age": 28, "Dept": ["Robonotics"]},
    "5643": {"name": "Bob", "age": 32, "Dept": ["Nerual-Technology"]},
    "1090": {"name": "Samuel", "age": 41, "Dept": ["Nano-Technology"]}
}
print(Emp["5643"]["name"]) 
print(Emp["2234"]["Dept"])  
print(Emp["2234"]["age"])

Bob
['Robonotics']
28

In [ ]:
'''
Q-17> Describe the time complexity of accessing elements in a dictionary ?
sol:-
Acessing the elements in dictionary ,the average-case time complexity O(1) and the worst case is O(n) .
'''

In [ ]:
'''
Q-18> In what situations are lists preferred over dictionaries?
sol:-
Lists and dictionaries are both usefull for acessing the data, but the way of acessing the data in both the case are different .
As per the list prefered over dictionaries due to different ways:
1.Maintaining Order
2.Sequential Access and Iteration
3. Fast Data acessing
4.Simplicity and Readability
5.Index-Based Access
6.Space Efficiency
'''

In [ ]:
'''
Q-19> Why are dictionaries considered unordered, and how does that affect data retrieval?
sol:-
It is considered unordered because their internal structure is based on hash tables as iteration over a dictionary could return elements 
in an arbitrary order.The retrieval order was not guaranteed to match insertion order.Hashing is constant time (O(1)) for dictionary.
'''

In [ ]:
'''
Q-20> Explain the difference between a list and a dictionary in terms of data retrieval?
sol:-
List :
1.Index-based acessing
2.Searching of data based on Direct index lookup (O(1)) or sequential search (O(n))
3.Structure is Contiguous memory array.
Dictionary:
1.Key-based acessing
2.Searching of data based on Hash table lookup (O(1))
3.Structure is Hash table (key-value storage).
Retrieval Time Complexity:
List: O(1) (direct memory access) and acessing of data using conditions is O(n).
Dictionary:  hash table lookup and acessing of data using conditions is O(1) .
'''

In [ ]:
#----------------------------------------------------- Practical Questions ---------------------------------------------

In [1]:
'''
Q-1>  Write a code to create a string with your name and print it?
sol:-
'''
my_name = "Sumit Kumar Roy"
print(my_name)

Sumit Kumar Roy

In [3]:
'''
Q-2> P Write a code to find the length of the string "Hello World"?
Sol:-
'''
length_of_text = "Hello World"
length = len(length_of_text)
print(length, " : is the length of the string")

11  : is the length of the string

In [7]:
'''
Q-3> Write a code to slice the first 3 characters from the string "Python Programming"?
sol:-
'''
statement = "Python Programming"
t = statement[:3]  
print(t)

Pyt

In [9]:
'''
Q-4> Write a code to convert the string "hello" to uppercase ?
sol:-
'''
# using upper() method
t= "hello"
upper_text = t.upper()  
print(upper_text)

HELLO

In [11]:
# without using upper() method
t="hello"
upper_text = ""
for char in t:
    upper_text += chr(ord(char) - 32)  
print(upper_text)

HELLO

In [15]:
'''
Q-5>  Write a code to replace the word "apple" with "orange" in the string "I like apple"?
sol:-
'''
t="I like apple"
print(t)
print("--------------------After replacing the apple with orange------------------")
f = t.replace("apple", "orange")  
print(f)

I like apple
--------------------After replacing the apple with orange------------------
I like orange

In [17]:
'''
Q-6> Write a code to create a list with numbers 1 to 5 and print it ?
sol:-
'''
list_of_numbers = [1, 2, 3, 4, 5]
print(list_of_numbers)

[1, 2, 3, 4, 5]

In [19]:
# using for loop
list_of_numbers = [1, 2, 3, 4, 5]
for i in list_of_numbers:
    print(i)

1
2
3
4
5

In [27]:
'''
Q-7> Write a code to append the number 10 to the list [1, 2, 3, 4] ?
sol:-
'''
list1= [1, 2, 3, 4]
list1.append(10)  
print(list1)

[1, 2, 3, 4, 10]

In [29]:
'''
Q-8> Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?
sol:-
'''
list1 = [1, 2, 3, 4, 5]
list1.remove(3)  
print(list1)

[1, 2, 4, 5]

In [31]:
'''
Q-9> Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
sol:-
'''
l = ['a', 'b', 'c', 'd']
second_element_access = l[1]  
print(second_element_access)

b

In [33]:
'''
Q-10>  Write a code to reverse the list [10, 20, 30, 40, 50] ?
sol:-
'''
numbers = [10, 20, 30, 40, 50]
numbers.reverse()  
print(numbers)

[50, 40, 30, 20, 10]

In [35]:
# with using sclicing
numbers = [10, 20, 30, 40, 50]
rev = numbers[::-1]  
print(rev)

[50, 40, 30, 20, 10]

In [41]:
'''
Q-11> Write a code to create a tuple with the elements 100, 200, 300 and print it >
sol:-
'''
tuple1 = (1, 2, 3, 4, 5, 6,"Sumit", -2345, 0.987)  
print(tuple1)

(1, 2, 3, 4, 5, 6, 'Sumit', -2345, 0.987)

In [1]:
'''
Q-12>  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ?
sol:-
'''
colors = ('red', 'green', 'blue', 'yellow')
d = colors[-2]
print(d)

blue

In [5]:
'''
Q-13> Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?
sol:- 
'''
# using min() 
num = (10, 20, 5, 15)
n = min(num)
print(n)

5

In [7]:
# without using min()
num = (10, 20, 5, 15)
n = num[0]
for i in num:
    if i < n:
        n=i
print(n)

5

In [9]:
'''
Q-14> Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?
sol:-
'''
animals = ('dog', 'cat', 'rabbit')
r = animals.index('cat')
print(r)

1

In [15]:
'''
Q-15>  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it ?
sol:-
'''
fruits = ('apple', 'banana', 'orange', 'grapes', 'dragon-fruit')
if 'kiwi' in fruits:
    print("Kiwi is present in tuple.")
else:
    print("Kiwi is not present in tuple.")

Kiwi is not present in tuple.

In [24]:
'''
Q-16>  Write a code to create a set with the elements 'a', 'b', 'c' and print it ?
sol:- 
'''
set1 = {'a', 'b', 'c'}
print(set1)

{'b', 'c', 'a'}

In [26]:
'''
Q-17> Write a code to clear all elements from the set {1, 2, 3, 4, 5} ?
sol:-
'''
set1 = {1, 2, 3, 4, 5}
print(set1)
set1.clear()
print("------------------After cleaning the set ------------------")
print(set1)

{1, 2, 3, 4, 5}
------------------After cleaning the set ------------------
set()

In [30]:
'''
Q-18>  Write a code to remove the element 4 from the set {1, 2, 3, 4} ?
sol:-
'''
set1 = {1, 2, 3, 4}
print(set1)
set1.remove(4)
print("--------------After removing 4 from the set----------------")
print(set1)

{1, 2, 3, 4}
--------------After removing 4 from the set----------------
{1, 2, 3}

In [32]:
'''
Q-19>  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5} ?
sol:-
'''
set1 = {1, 2, 3}
set2 = {3, 4, 5}
f = set1 | set2
print(f)

{1, 2, 3, 4, 5}

In [34]:
'''
Q-20>  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
sol:-
'''
set1 = {1, 2, 3}
set2 = {2, 3, 4}
f = set1 & set2
print(f)

{2, 3}

In [36]:
'''
Q-21> Write a code to create a dictionary with the keys "name", "age", and "city", and print it ?
sol:-
'''
person_details = {"name": "Bob","age": 42,"city": "Itly"}
print(person_details)

{'name': 'Bob', 'age': 42, 'city': 'Itly'}

In [38]:
'''
Q-22> Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25} ?
sol:-
'''
person_details = {'name': 'John', 'age': 25}
person_details['country'] = 'USA'
print(person_details)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
'''
Q-23> Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} ?
sol:-
'''
person_details = {'name': 'Alice', 'age': 30}
v = person_details['name']
print(v)

Alice

In [42]:
# using get() method
person_details = {'name': 'Alice', 'age': 30}
v = person_details.get('name')
print(v)

Alice

In [64]:
'''
Q-24> Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'} ?
sol:-
'''
person_details = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(person_details) 
v = person_details.pop('age')
print("--------------------After deleting the \"age\" key from dictionary using pop() method ----------------------------") 
print(person_details)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
--------------------After deleting the "age" key from dictionary using pop() method ----------------------------
{'name': 'Bob', 'city': 'New York'}

In [60]:
#using del() method 
person_details = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(person_details)
del person_details['age']
print("--------------------After deleting the \"age\" key from dictionary using del() method ----------------------------")
print(person_details)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
--------------------After deleting the "age" key from dictionary using del() method ----------------------------
{'name': 'Bob', 'city': 'New York'}

In [66]:
'''
Q-25>  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?
sol:-
'''
person_details = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person_details:
    print(" 'city' exists in the dictionary.")
else:
    print("'city' does not exist in the dictionary.")

 'city' exists in the dictionary.

In [68]:
'''
Q-26> Write a code to create a list, a tuple, and a dictionary, and print them all?
sol:-
'''
list1 = [1, 2, 3.3, "Sumit", -12.5]
tuple1 = ('bob', -1, 12.5)
dict1 = {'name': 'jenifer', 'age': 19, 'city': 'Argentina'}
print("List data are as follows: ", list1)
print("Tuple data are as followed: ", tuple1)
print("Dictionary data are as follows: ", dict1)

List data are as follows:  [1, 2, 3.3, 'Sumit', -12.5]
Tuple data are as followed:  ('bob', -1, 12.5)
Dictionary data are as follows:  {'name': 'jenifer', 'age': 19, 'city': 'Argentina'}

In [75]:
'''
Q-27 > Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced) ?
sol:-
'''
import random  
num = random.sample(range(1, 101), 5)
num.sort()
print("Random numbers are sorted : ", num)

Random numbers are sorted :  [12, 54, 62, 98, 100]

In [77]:
'''
Q-28>  Write a code to create a list with strings and print the element at the third index ?
sol:-
'''
list1 = ["vishakapatnam", "Gujrat", "Mumbai", "Goa", "Delhi"]
print("The element at the third index are as follows: ", list1[3])

The element at the third index are as follows:  Goa

In [81]:
'''
Q-29>  Write a code to combine two dictionaries into one and print the result ?
sol:-
'''
dict1 = {"Book_name": "Uncle Tom's Cabin", "price": 325}
dict2 = {"Author_name": "Harriet Beecher Stowe", "country": "America"}
d = dict1 | dict2
print("combination two dictionaries: ", d)

combination two dictionaries:  {'Book_name': "Uncle Tom's Cabin", 'price': 325, 'Author_name': 'Harriet Beecher Stowe', 'country': 'America'}

In [93]:
'''
Q-30> Write a code to convert a list of strings into a set ?
sol:-
'''
l = ["orange", "red", "blue", "purple", "white"]
print("------the list of string are as follows-------------------------")
print("\n")
print(l)
d = set(l)
print("\n")
print("----------------Converted a list of strings into a set------------")
print("\n")
print(d)

------the list of string are as follows-------------------------


['orange', 'red', 'blue', 'purple', 'white']


----------------Converted a list of strings into a set------------


{'blue', 'orange', 'purple', 'white', 'red'}